header {
  display: grid;
  place-items: center;
  line-height: 1.5;
  max-height: 200px;
}

nav {
  align-self: flex-end;
  gap: 1rem;
  text-align: left;
  margin-left: -1rem;
  font-size: 1rem;
  padding: 1rem 0;
  margin-top: 1rem;
  width: 100%;
  font-size: 12px;
  text-align: right;
  margin-top: 2rem;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.logo {
  margin: 0 2rem 0 0;
}

.form-content button {
  background-color: hsla(158, 70%, 55%, 0.589);
  border-radius: 12%;
  border: none;
}
form {
  display: grid;
  justify-content: center;
  align-content: center;
  place-content: center;
  height: 500px;
  gap: 0.31rem;
}
.form-content input {
  width: 300px;
  display: block;
  height: 35px;
}
.form-content button {
  margin-top: 0.8rem;
  height: 34px;
}
.form-content {
  gap: 2rem;
}

#app {
  place-content: center;
}
